achievements.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="icon" href="/images/xigoi-thicc.svg"><link rel="stylesheet" href="/styles/main.css"><script async src="/scripts/counter.js"></script><script async src="/scripts/hover-prefetch.js"></script><link rel="stylesheet" href="styles/achievements.css"><title>Life Achievements | xigoi</title></head><body><a href="/" aria-label="Go to main page"><header><svg id="xigoi-logo" width="2cm" height="2cm" viewBox="-7 -2 24 24" xmlns="http://www.w3.org/2000/svg"><title>xigoi logo</title><path d="M 0 20 L 9 8 A 5 5 0 1 0 1 8 L 4 12 A 5 5 0 0 0 8 14 A 2 2 0 0 1 10 16 A 4 4 0 0 1 2 16 A 5 5 0 0 1 3 13 A 10 10 0 0 0 5 7" stroke="#0ff" stroke-width="1"></path><circle cx="5" cy="5" r="1" fill="#f80"></circle></svg><div class="xigoi">xigoi</div></header></a><h1>Life Achievements</h1><p>This page is the tracker of my personal achievements in life, as if it were a game.</p><h2>Education</h2><ul class="achievements"><li class="complete">Finish elementary school</li><li class="complete">Finish high school</li><li class="incomplete">Get a bachelor degree</li><li class="incomplete">Get a magister degree</li><li class="incomplete">Get a doctor degree</li></ul><h2>Long Distance Walking</h2><ul class="achievements"><li class="complete">Walk 25&thinsp;km in one day</li><li class="complete">Walk 50&thinsp;km in one day</li><li class="complete">Walk 75&thinsp;km in one day</li><li class="incomplete">Walk 100&thinsp;km in one day</li></ul><h2>Mathematics</h2><ul class="achievements"><li class="complete">Get into a regional Math Olympiad</li><li class="complete">Get into a national Math Olympiad</li><li class="locked">Get into a multinational Math Olympiad</li><li class="locked">Get into an international Math Olympiad</li><li class="complete">Get something published in a mathematical journal</li><li class="incomplete">Solve an open mathemetical problem</li></ul><h2>Programming</h2><ul class="achievements"><li class="complete">Learn a programming language</li><li class="complete">Get into a regional Programming Olympiad</li><li class="complete">Get into a national Programming Olympiad</li><li class="complete">Get into a multinational Programming Olympiad</li><li class="locked">Get into an international Programming Olympiad</li><li class="complete">Get into CERC</li><li class="incomplete">Get into ICPC</li><li class="complete">Get a programming job</li><li class="incomplete">Get a long-term programming job</li></ul><h2>Social</h2><ul class="achievements"><li class="complete">Get a friend</li><li class="complete">Get invited to a birthday party</li><li class="complete">Organize a birthday party</li><li class="locked">Get a romantic relationship</li></ul></body></html>

achievements.jade
extends templates/main.jade

block head
  link(rel="stylesheet" href="styles/achievements.css")

block title
  | Life Achievements | xigoi

block content
  h1 Life Achievements
  p This page is the tracker of my personal achievements in life, as if it were a game.
  h2 Education
  ul.achievements
    li.complete Finish elementary school
    li.complete Finish high school
    li.incomplete Get a bachelor degree
    li.incomplete Get a magister degree
    li.incomplete Get a doctor degree
  h2 Long Distance Walking
  ul.achievements
    li.complete Walk 25&thinsp;km in one day
    li.complete Walk 50&thinsp;km in one day
    li.complete Walk 75&thinsp;km in one day
    li.incomplete Walk 100&thinsp;km in one day
  h2 Mathematics
  ul.achievements
    li.complete Get into a regional Math Olympiad
    li.complete Get into a national Math Olympiad
    li.locked Get into a multinational Math Olympiad
    li.locked Get into an international Math Olympiad
    li.complete Get something published in a mathematical journal
    li.incomplete Solve an open mathemetical problem
  h2 Programming
  ul.achievements
    li.complete Learn a programming language
    li.complete Get into a regional Programming Olympiad
    li.complete Get into a national Programming Olympiad
    li.complete Get into a multinational Programming Olympiad
    li.locked Get into an international Programming Olympiad
    li.complete Get into CERC
    li.incomplete Get into ICPC
    li.complete Get a programming job
    li.incomplete Get a long-term programming job
  h2 Social
  ul.achievements
    li.complete Get a friend
    li.complete Get invited to a birthday party
    li.complete Organize a birthday party
    li.locked Get a romantic relationship
