c/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="icon" href="/images/xigoi-thicc.svg"><link rel="stylesheet" href="/styles/main.css"><script async src="/scripts/counter.js"></script><script async src="/scripts/hover-prefetch.js"></script><link rel="stylesheet" href="/styles/katex.min.css"><script defer src="/scripts/katex.min.js" onload="renderMathInElement(document.body)"></script><title>xigoi</title></head><body><a href="/" aria-label="Go to main page"><header><svg id="xigoi-logo" width="2cm" height="2cm" viewBox="-7 -2 24 24" xmlns="http://www.w3.org/2000/svg"><title>xigoi logo</title><path d="M 0 20 L 9 8 A 5 5 0 1 0 1 8 L 4 12 A 5 5 0 0 0 8 14 A 2 2 0 0 1 10 16 A 4 4 0 0 1 2 16 A 5 5 0 0 1 3 13 A 10 10 0 0 0 5 7" stroke="#0ff" stroke-width="1"></path><circle cx="5" cy="5" r="1" fill="#f80"></circle></svg><div class="xigoi">xigoi</div></header></a><p class="warning">This website is a work in progress.</p><p> 
Ahoj! Jsem <em class="xigoi">xigoi</em>. Mám rád programování a dalši záležitosti s počítači, matematiku, lingvistiku a chůzi. Ovládám češtinu, angličtinu, <a href="https://tokipona.org/">Toki Ponu</a> a trochu němčiny. Jsem velký nadšenec do open-source — používám <a href="https://www.linux.com/news/what-is-gnu-linux/">GNU/Linux</a>, <a href="https://www.vim.org/">Vim</a>, <a href="https://www.latex-project.org/">\(\text{\LaTeX}\)</a>, <a href="https://f-droid.org/">F-Droid</a>, <a href="https://disroot.org/en">Disroot</a> a další. Na této stránce a její <a href="/">anglickě verzi</a> můžete najít různé věci mnou napsané a jinak vytvořené. Šťastné prohlížení!</p><h2>Fikce</h2><ul class="index"><li><a href="iprib/">Spouštěč interaktivních příběhů</a></li></ul><h2>Matematika</h2><ul class="index"><li><a href="grupy.html">Grupy</a></li><li><a href="permutace-a-symetricke-grupy.html">Permutace a symetrické grupy</a></li><li><a href="latex.html">\(\mathrm\LaTeX\)</a></li><li><a href="vytvareni-dokumentu-v-systemu-latex.html">Vytváťení dokumentů v systému \(\mathrm\LaTeX\)</a></li></ul><h2>Kontaktujte mě</h2><ul class="index"><li>E-mail: <a href="mailto:xigoi@disroot.org">xigoi@disroot.org</a></li><li>Ruqqus: <a href="https://ruqqus.com/@xigoi">@xigoi</a></li><li>Reddit: <a href="https://www.reddit.com/user/xigoi">u/xigoi</a></li><li>Discord: xigoi#1759</li></ul></body></html>

c/index.jade
extends ../templates/main.jade

block head
  include ../templates/katex.jade

block content
  p.warning This website is a work in progress.
  p 
    | Ahoj! Jsem 
    em.xigoi xigoi
    | . Mám rád programování a dalši záležitosti s počítači, matematiku, lingvistiku a chůzi. Ovládám češtinu, angličtinu, 
    a(href="https://tokipona.org/") Toki Ponu
    |  a trochu němčiny. Jsem velký nadšenec do open-source — používám 
    a(href="https://www.linux.com/news/what-is-gnu-linux/") GNU/Linux
    | , 
    a(href="https://www.vim.org/") Vim
    | , 
    a(href="https://www.latex-project.org/") \(\text{\LaTeX}\)
    | , 
    a(href="https://f-droid.org/") F-Droid
    | , 
    a(href="https://disroot.org/en") Disroot
    |  a další. Na této stránce a její 
    a(href="/") anglickě verzi
    |  můžete najít různé věci mnou napsané a jinak vytvořené. Šťastné prohlížení!
  h2 Fikce
  ul.index
    li
      a(href="iprib/") Spouštěč interaktivních příběhů
  h2 Matematika
  ul.index
    li
      a(href="grupy.html") Grupy
    li
      a(href="permutace-a-symetricke-grupy.html") Permutace a symetrické grupy
    li
      a(href="latex.html") \(\mathrm\LaTeX\)
    li
      a(href="vytvareni-dokumentu-v-systemu-latex.html") Vytváťení dokumentů v systému \(\mathrm\LaTeX\)
  h2 Kontaktujte mě
  ul.index
    li E-mail: 
      a(href="mailto:xigoi@disroot.org") xigoi@disroot.org
    li Ruqqus: 
      a(href="https://ruqqus.com/@xigoi") @xigoi
    li Reddit: 
      a(href="https://www.reddit.com/user/xigoi") u/xigoi
    li Discord: xigoi#1759
