c/iprib/index.jade
extends ../../templates/main.jade

block head
  link(rel="stylesheet" href="style.css")
  script(type="module" src="app.js")

block title
  | Spouštěč interaktivních příběhů | xigoi

block content
  h1 Spouštěč interaktivních příběhů
  noscript Ke správnému fungování této stránky je potřeba mít v prohlížeči povolené skripty.
  #app
    template(v-if="!scene")
      p Příběh:
        input(type="file" accept=".iprib0,.iprib1" v-on:input="loadStoryFromFile($event.target.files[0])")
      p Pohlaví:
        input(name="gender" type="radio" v-model="gender" value="m" id="male-radio")
        label(for="male-radio") Muž
        input(name="gender" type="radio" v-model="gender" value="f" id="female-radio")
        label(for="female-radio") Žena
      p Formalita:
        input(name="formal" type="radio" v-model="formal" v-bind:value="false" id="informal-radio")
        label(for="male-radio") Tykat
        input(name="formal" type="radio" v-model="formal" v-bind:value="true" id="formal-radio")
        label(for="female-radio") Vykat
      p
        input(type="checkbox" v-model="showHistory" id="show-history-checkbox")
        label(for="show-history-checkbox") Zobrazovat historii
      p(v-if="initialScene")
        button(v-on:click="startStory") Spustit
    template(v-else)
      h2 {{name}}
      .history(v-if="showHistory")
        p.history-entry(v-for="entry in history") {{entry}}
      p {{interpolate(scene.description.text)}}
      p.option(v-for="option in scene.options.filter(optionLegal)" v-on:click="triggerOption(option)") {{interpolate(option.text)}}
      p.end-option(v-on:click="endStory") Ukončit

c/iprib/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="icon" href="/images/xigoi-thicc.svg"><link rel="stylesheet" href="/styles/main.css"><script async src="/scripts/counter.js"></script><script async src="/scripts/hover-prefetch.js"></script><link rel="stylesheet" href="style.css"><script type="module" src="app.js"></script><title>Spouštěč interaktivních příběhů | xigoi</title></head><body><a href="/" aria-label="Go to main page"><header><svg id="xigoi-logo" width="2cm" height="2cm" viewBox="-7 -2 24 24" xmlns="http://www.w3.org/2000/svg"><title>xigoi logo</title><path d="M 0 20 L 9 8 A 5 5 0 1 0 1 8 L 4 12 A 5 5 0 0 0 8 14 A 2 2 0 0 1 10 16 A 4 4 0 0 1 2 16 A 5 5 0 0 1 3 13 A 10 10 0 0 0 5 7" stroke="#0ff" stroke-width="1"></path><circle cx="5" cy="5" r="1" fill="#f80"></circle></svg><div class="xigoi">xigoi</div></header></a><h1>Spouštěč interaktivních příběhů</h1><noscript>Ke správnému fungování této stránky je potřeba mít v prohlížeči povolené skripty.</noscript><div id="app"><template v-if="!scene"><p>Příběh:<input type="file" accept=".iprib0,.iprib1" v-on:input="loadStoryFromFile($event.target.files[0])"></p><p>Pohlaví:<input name="gender" type="radio" v-model="gender" value="m" id="male-radio"><label for="male-radio">Muž</label><input name="gender" type="radio" v-model="gender" value="f" id="female-radio"><label for="female-radio">Žena</label></p><p>Formalita:<input name="formal" type="radio" v-model="formal" v-bind:value="false" id="informal-radio"><label for="male-radio">Tykat</label><input name="formal" type="radio" v-model="formal" v-bind:value="true" id="formal-radio"><label for="female-radio">Vykat</label></p><p><input type="checkbox" v-model="showHistory" id="show-history-checkbox"><label for="show-history-checkbox">Zobrazovat historii</label></p><p v-if="initialScene"><button v-on:click="startStory">Spustit</button></p></template><template v-else><h2>{{name}}</h2><div v-if="showHistory" class="history"><p v-for="entry in history" class="history-entry">{{entry}}</p></div><p>{{interpolate(scene.description.text)}}</p><p v-for="option in scene.options.filter(optionLegal)" v-on:click="triggerOption(option)" class="option">{{interpolate(option.text)}}</p><p v-on:click="endStory" class="end-option">Ukončit</p></template></div></body></html>
